<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{templates1.html}">
<head>
<meta charset="UTF-8">
<title>Ma Banque</title>
</head>
<body>
	<div layout:fragment="content" id="block">
		<div class="col-lg-6 offset-3">
			<div class="card">
				<div class="card-header">
					Access Denied
				</div>
				<div class="card-body">
					<div id="error">
						Vous n'avez pas le droit d'acceder a cette ressource.
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>